<div class="pb-5 mb-3 border-b border-slate-200 flex items-center justify-between">
  <h3 class="text-lg leading-6 font-medium text-slate-900"><%= title %></h3>
  <% if button? %>
    <div class="flex ml-4">
      <%= button %>
    </div>
  <% end %>
</div>
