<div class="ml-1 relative flex items-center group">
  <div class="text-slate-400">
    <%= show_svg('solid/question-mark-circle') %>
  </div>
  <span class="flex flex-col hidden absolute group-hover:flex max-w-content w-64">
    <span class="relative z-10 p-2 text-sm rounded-lg shadow-sm leading-none text-white whitespace-no-wrap bg-slate-900">
      <%= content %>
    </span>
  </span>
</div>
