<div class="w-full">
  <%= render SectionHeaderComponent.new do |c| %>
    <%= c.with_title do %>
      Templates
    <% end %>
    <%= c.with_button(link: new_template_path).with_content("New template") %>
  <% end %>

  <div id="templates" class="min-w-full">
    <%= render @templates %>
  </div>
</div>
