<li>
  <div class="relative pb-8">
    <% unless notification_iteration.last? %>
    <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200 dark:bg-gray-700" aria-hidden="true"></span>
    <% end %>
    <div class="relative flex space-x-3 align-center">
      <%= heroicon 'user-circle', variant: 'solid', class: 'text-gray-800 dark:text-gray-100 flex items-center justify-center' %>
      <div class="min-w-0 flex-1 flex justify-between space-x-4 items-center">
        <div>
          <p class="text-sm text-gray-700 dark:text-gray-200"><%= notification.to_notification.message %></p>
        </div>
        <div title="<%= notification.created_at %>" class="text-right text-sm whitespace-nowrap text-gray-500">
          <time><%= time_ago_in_words(notification.created_at) %> ago</time>
        </div>
      </div>
    </div>
  </div>
</li>
