<li>
  <div class="relative pb-8">
    <% unless notification_iteration.last? %>
      <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-300 dark:bg-gray-700" aria-hidden="true"></span>
    <% end %>
    <div class="relative flex space-x-3">
      <div>
        <span class="h-8 w-8 rounded-full bg-gray-100 flex items-center justify-center ring-4 ring-gray-200 dark:ring-gray-800">
          <%= heroicon notification.to_notification.icon, variant: 'mini', class: 'h-5 w-5' %>
        </span>
      </div>
      <div class="min-w-0 flex-1 flex justify-between space-x-4 pt-1.5">
        <div>
          <p class="text-sm text-gray-700 dark:text-gray-200"><%= notification.to_notification.message %></p>
        </div>
        <div title="<%= notification.created_at %>" class="text-right text-sm whitespace-nowrap text-gray-500">
          <time><%= time_ago_in_words(notification.created_at) %> ago</time>
        </div>
      </div>
    </div>
  </div>
</li>
