<div class="bg-gray-100">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-24 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 md:text-4xl">
      <span class="block">Ready to rock?</span>
      <span class="block underline decoration-4 decoration-yellow-300 decoration-solid">Start your free trial today.</span>
    </h2>
    <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
      <div class="inline-flex rounded-md shadow">
        <%= render_component 'button', href: new_user_registration_path, size: :xl, data: { turbo: false } do %>
          Get 30 days free
        <% end %>
      </div>
    </div>
  </div>
</div>
