<footer class="bg-slate-800" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <div class="mt-8 border-t border-slate-700 pt-8 md:flex md:items-center md:justify-between">
      <p class="mt-8 text-base text-slate-400 md:mt-0 md:order-1">&copy; 2022 RoQR, LLC. All rights reserved.</p>
    </div>
  </div>
</footer>
