<section>
  <h4>Last Updated: June 13, 2022</h4>
  <p>If you signed a separate Cover Page to access the RoQR Cloud Service with the same account, and that agreement has not ended, the terms below do not apply to you. Instead, your separate Cover Page applies to your use of the Product.</p>

  <p>This Agreement is between RoQR, Inc. and the company or person accessing or using the Cloud Service. This Agreement consists of: (1) the Order Form and (2) the Key Terms, both of which are on the Cover Page below, and (3) the <a href="https://commonpaper.com/standards/cloud-service-agreement/1.0" target="_blank" title="Cloud Service Agreement - Common Paper">Common Paper Cloud Service Standard Terms Version 1.0</a> (“Standard Terms”). Any modifications to the Standard Terms made in the Cover Page will control over conflicts with the Standard Terms. Capitalized words have the meanings given in the Cover Page or the Standard Terms.</p>

  <p>If you are accessing or using the Cloud Service on behalf of your company, you represent that you are authorized to accept this Agreement on behalf of your company. By signing up, accessing, or using the Product, Customer indicates its acceptance of this Agreement and agrees to be bound by the terms and conditions of this Agreement.</p>

  <h2>Cover Page</h2>

  <p><i>Order Form</i></p>

  <p><u><strong>Cloud Service:</strong></u> The QR-code management platform made available by RoQR, Inc., which includes its web-hosted application, its application program interfaces, its software development kits, and the QR-codes and documents made available through these services.</p>
  <p><u><strong>Subscription Start Date:</strong></u> The Effective Date</p>
  <p><u><strong>Subscription Period:</strong></u> One month</p>
  <p><u><strong>Non-Renewal Notice Period:</strong></u> At least 30 days before the end of the current Subscription Period.</p>
  <p><u><strong>Use Limitations:</strong></u> </p>
  <p><u><strong>Fees:</strong></u> $35 per month.</p>
  <p><u><strong>Payment Period:</strong></u> 7 days from date of invoice.</p>
  <p><u><strong>Invoice Period:</strong></u> Monthly</p>

  <p><i>Key Terms</i></p>

  <p><u><strong>Customer:</strong></u> The company or person who accesses or uses the Product. If the person accepting this Agreement is doing so on behalf of a company, all use of the word “Customer” in the Agreement will mean that company.</p>
  <p><u><strong>Provider:</strong></u> RoQR, Inc.</p>
  <p><u><strong>Effective Date:</strong></u> The date Customer first accepts this Agreement.</p>
  <p><u><strong>Covered Claims:</strong></u></p>
  <div class="description_container">
    <p><u><strong>Provider Covered Claims:</strong></u> Any action, proceeding, or claim that the Cloud Service, when used by Customer according to the terms of the Agreement, violates, misappropriates, or otherwise infringes upon a third party’s intellectual property or other proprietary rights.</p>
    <p><u><strong>Customer Covered Claims:</strong></u> Any action, proceeding, or claim (1) that the Customer Content, when used according to the terms of the Agreement, violates, misappropriates, or otherwise infringes upon a third party’s intellectual property or other proprietary rights; and (2) arising from or relating to Customer’s breach or alleged breach of Section 2.1 (Restrictions on Customer).</p>
  </div>
  <p><u><strong>General Cap Amount:</strong></u> $5,000.00</p>
  <p><u><strong>Increased Cap Amount:</strong></u> $10,000.00</p>
  <p><u><strong>Increased Claims:</strong></u> A breach of Section 4 (Privacy and Security) and an Indemnifying Party’s indemnification obligations.</p>
  <p><u><strong>Unlimited Claims:</strong></u> A breach of Section 12 (Confidentiality) resulting from gross negligence or willful misconduct (however, excluding any data or security breaches).</p>
  <p><u><strong>Governing Law:</strong></u> The laws of the State of New York.</p>
  <p><u><strong>Chosen Courts:</strong></u> The state or federal courts located in New York, New York.</p>
  <p><u><strong>Notice Address:</strong></u></p>
  <div class="description_container">
    <p>For Provider: notices@roqr.app</p>
    <p>For Customer: The main email address for Customer’s account</p>
  </div>

  <p><i>Changes to the Standard Terms</i></p>

  <p><u><strong>Publicity Rights:</strong></u> Modifying Section 14.7 of the Standard Terms, Provider may identify Customer and use Customer’s logo and trademarks on Provider’s website and in marketing materials to identify Customer as a user of the Cloud Service. Customer hereby grants Provider a non-exclusive, royalty-free license to do so in connection with any Customer-approved marketing, promotion, or advertising of Provider or the Cloud Service during the length of the Agreement.</p>
  <p><u><strong>Privacy Policy:</strong></u> The Privacy Policy available at https://roqr.app/privacy-policy/ describes how Provider handles personal information collected through the Product.</p>
  <p><u><strong>Agreement Updates:</strong></u> The Standard Terms will never change. However, modifying Section 14.2 of the Standard Terms, Provider may update the Cover Page by posting a new version on Provider’s website. Provider will attempt to inform Customer of the updates through the Product or by email.</p>

</section>
