<%= render 'header' %>
<div class="flex flex-col mx-auto mx-6 my-10 max-w-3xl">
  <h1 class="text-center text-3xl mt-6 mb-12">RoQR Terms of Service</h1>
  <h4 class="text-xl font-medium mb-2">Last Updated: August 4, 2022</h4>
  <p class="mb-4">If you signed a separate Cover Page to access the RoQR Cloud Service with the same account, and that agreement has not ended, the terms below do not apply to you. Instead, your separate Cover Page applies to your use of the Product.</p>

  <p class="mb-4">This Agreement is between RoQR, LLC and the company or person accessing or using the Cloud Service. This Agreement consists of: (1) the Order Form and (2) the Key Terms, both of which are on the Cover Page below, and (3) the <a class="underline text-blue-500" href="https://commonpaper.com/standards/cloud-service-agreement/1.0" target="_blank" title="Cloud Service Agreement - Common Paper">Common Paper Cloud Service Standard Terms Version 1.0</a> (“Standard Terms”). Any modifications to the Standard Terms made in the Cover Page will control over conflicts with the Standard Terms. Capitalized words have the meanings given in the Cover Page or the Standard Terms.</p>

  <p class="mb-4">If you are accessing or using the Cloud Service on behalf of your company, you represent that you are authorized to accept this Agreement on behalf of your company. By signing up, accessing, or using the Product, Customer indicates its acceptance of this Agreement and agrees to be bound by the terms and conditions of this Agreement.</p>

  <h2 class="text-center my-2 text-2xl">Cover Page</h2>
  <h3 class="text-xl my-4">Order Form</h3>
  <p class="mb-2"><strong>Cloud Service:</strong> The QR-code management platform made available by RoQR, LLC, which includes its web-hosted application, its application program interfaces, its software development kits, and the QR-codes and documents made available through these services.</p>
  <p class="mb-2"><strong>Subscription Start Date:</strong> The Effective Date</p>
  <p class="mb-2"><strong>Subscription Period:</strong> One month</p>
  <p class="mb-2"><strong>Non-Renewal Notice Period:</strong> At least 30 days before the end of the current Subscription Period.</p>
  <p class="mb-2"><strong>Use Limitations:</strong> The limitations set by the plan selected by the Customer.</p>
  <p class="mb-2"><strong>Fees:</strong> Fees will be automatically charged based on the applicable Cloud Service plan ordered by Customer. Provider may suspend Customer's access to the Cloud Service upon written notice for Customer's failure to pay any applicable fees. Provider will promptly restore the suspended Customer's access to the Cloud Service upon receipt of all applicable fees owed.</p>
  <p class="mb-2"><strong>Payment Period:</strong> Monthly</p>
  <p class="mb-2"><strong>Invoice Period:</strong> Monthly</p>

  <h3 class="text-xl my-4">Key Terms</h3>

  <p class="mb-2"><strong>Customer:</strong> The company or person who accesses or uses the Product. If the person accepting this Agreement is doing so on behalf of a company, all use of the word “Customer” in the Agreement will mean that company.</p>
  <p class="mb-2"><strong>Provider:</strong> RoQR, LLC</p>
  <p class="mb-2"><strong>Effective Date:</strong> The date Customer first accepts this Agreement.</p>
  <p class="mb-2"><strong>Covered Claims:</strong></p>
  <p class="mb-2 ml-4"><strong>Provider Covered Claims:</strong> Any action, proceeding, or claim that the Cloud Service, when used by Customer according to the terms of the Agreement, violates, misappropriates, or otherwise infringes upon a third party’s intellectual property or other proprietary rights.</p>
  <p class="mb-2 ml-4"><strong>Customer Covered Claims:</strong> Any action, proceeding, or claim (1) that the Customer Content, when used according to the terms of the Agreement, violates, misappropriates, or otherwise infringes upon a third party’s intellectual property or other proprietary rights; and (2) arising from or relating to Customer’s breach or alleged breach of Section 2.1 (Restrictions on Customer).</p>
  <p class="mb-2"><strong>General Cap Amount:</strong> The fees paid or payable by Customer to Provider in the 12-month period immediately before the claim.</p>
  <p class="mb-2"><strong>Increased Cap Amount:</strong> 5x the General Cap Amount</p>
  <p class="mb-2"><strong>Increased Claims:</strong> A breach of Section 4 (Privacy and Security) and an Indemnifying Party’s indemnification obligations under Section 10 (Indemnification).</p>
  <p class="mb-2"><strong>Governing Law:</strong> The laws of the State of New York.</p>
  <p class="mb-2"><strong>Chosen Courts:</strong> The state or federal courts located in New York, New York.</p>
  <p class="mb-2"><strong>Notice Address:</strong></p>
  <p class="mb-2 ml-4">For Provider: <a class="underline text-blue-500" href="mailto:notices@roqr.app">notices@roqr.app</a></p>
  <p class="mb-2 ml-4">For Customer: The main email address for Customer’s account</p>

  <h3 class="text-xl my-4">Changes to the Standard Terms</h3>
  <p class="mb-2"><strong>Publicity Rights:</strong> Modifying Section 14.7 of the Standard Terms, Provider may identify Customer and use Customer’s logo and trademarks on Provider’s website and in marketing materials to identify Customer as a user of the Cloud Service. Customer hereby grants Provider a non-exclusive, royalty-free license to do so in connection with any Customer-approved marketing, promotion, or advertising of Provider or the Cloud Service during the length of the Agreement.</p>
  <p class="mb-2"><strong>Privacy Policy:</strong> The Privacy Policy available at <a class="underline text-blue-500" href="https://roqr.app/privacy-policy/">https://roqr.app/privacy-policy/</a> describes how Provider handles personal information collected through the Product.</p>
  <p class="mb-2"><strong>Agreement Updates:</strong> The Standard Terms will never change. However, modifying Section 14.2 of the Standard Terms, Provider may update the Cover Page by posting a new version on Provider’s website. Provider will attempt to inform Customer of the updates through the Product or by email.</p>
</div>
<%= render 'footer' %>
