<%= link_to path, class: "#{style_if_active(path, "text-gray-900 dark:text-gray-50", "text-gray-600 dark:text-gray-300 text-gray-900 dark:hover:text-gray-50") } group rounded-md px-3 py-2 flex items-center text-sm font-medium" do %>
  <div class="<%= style_if_active(path, "text-gray-900 dark:text-gray-50", "text-gray-600 dark:text-gray-300 group-hover:text-gray-900 dark:group-hover:text-gray-50") %> flex-shrink-0 -ml-1 mr-3">
    <%= show_svg(icon) %>
  </div>
  <span class="truncate"> <%= name %> </span>
<% end %>
