<%= link_to path, class: class_names('border-transparent text-gray-300 hover:border-yellow-300 group inline-flex items-center py-4 px-1 border-b-2 font-medium text-sm', {"border-yellow-400 text-gray-100": current_page?(path)}), data: { turbo_action: :advance } do %>
  <%= heroicon icon, variant: 'mini', class: class_names('hidden sm:inline text-gray-300 -ml-0.5 mr-2 h-5 w-5', {"text-gray-100": current_page?(path)}) %>
  <span><%= name %></span>
<% end %>
