<aside class="py-6 px-2 sm:px-6 lg:py-0 lg:px-0 lg:col-span-3">
  <nav class="space-y-1">
    <%= render 'settings/nav_item', path: settings_profile_path, name: 'Profile', icon: 'outline/user-circle' %>
    <%= render 'settings/nav_item', path: settings_organization_path, name: 'Organization', icon: 'outline/office-building' %>
    <%= render 'settings/nav_item', path: settings_developer_path, name: 'Developer', icon: 'outline/code' %>
  </nav>
</aside>
