<div>
  <div class="block">
    <div class="border-b border-gray-300 dark:border-gray-600 mb-3">
      <nav class="-mb-px flex justify-between sm:justify-start sm:space-x-8" aria-label="Tabs">
        <%= render 'settings/nav_item', path: settings_profile_path, name: 'Profile', icon: 'user-circle' %>
        <%= render 'settings/nav_item', path: settings_organization_path, name: 'Organization', icon: 'building-office' %>
        <%= render 'settings/nav_item', path: settings_subscription_path, name: 'Subscription', icon: 'credit-card' %>
        <%= render 'settings/nav_item', path: settings_developer_path, name: 'Developer', icon: 'command-line' %>
      </nav>
    </div>
  </div>
</div>
