<div class="col-span-4 text-center hidden only:block">
  <div class="mx-auto h-12 w-12 text-gray-500 flex items-center justify-center">
    <%= heroicon 'swatch' %>
  </div>
  <h3 class="mt-2 text-sm font-medium text-gray-700 dark:text-gray-200">No styles</h3>
  <p class="mt-1 text-sm text-gray-500">Get started by creating a new style.</p>
</div>
