<div class="hidden only:block text-center">
  <div class="mx-auto h-12 w-12 text-slate-400 flex items-center justify-center">
    <%= show_svg("outline/color-swatch") %>
  </div>
  <h3 class="mt-2 text-sm font-medium text-slate-900">No styles</h3>
  <p class="mt-1 text-sm text-slate-500">Get started by creating a new style.</p>
</div>
