<div id="<%= dom_id style %>">
  <div class="bg-white overflow-hidden shadow rounded-lg divide-y divide-gray-200">
    <div class="px-4 py-5 sm:px-6 flex justify-between items-center">
      <%= style.name %>
      <%= render InlineButtonGroupComponent.new do |c| %>
        <% if can? :update, style %>
          <% c.with_button(link: edit_style_path(style), style: 'white').with_content("Edit this style") %>
        <% end %>
        <% if can? :destroy, style %>
          <% c.with_button(link: style_path(style), style: 'red', method: :delete).with_content("Delete this style") %>
        <% end %>
      <% end %>
    </div>
    <div class="px-4 py-5 sm:p-6 flex justify-center">
      <%= image_tag(qr_path(data: "https://roqr.app", fill: style.fill, color: style.color, position_border: style.position_border_color, position_core: style.position_core_color, format: :svg), "data-qr-target": "image") %>
    </div>
  </div>

  <% if action_name != "show" %>
    <hr class="mt-6">
  <% end %>
</div>
