<%= form_with(url: links_path, method: :get, data: { turbo_action: 'advance', turbo_frame: 'links', controller: 'autosave', autosave_delay_value: 200 }) do |f| %>
  <div class="grid grid-cols-2 lg:grid-cols-5">
    <%= f.text_field :search, class: "lg:col-span-2 bg-gray-200 focus:bg-gray-100 dark:bg-gray-800 dark:focus:bg-gray-700 border-transparent focus:border-gray-100 text-gray-800 dark:text-gray-100 block w-full sm:text-sm rounded-md", placeholder: 'Search...', data: { action: 'autosave#save' } %>
    <label class="lg:col-start-5 inline-flex relative items-center cursor-pointer">
      <%= f.check_box :show_archived, class: "sr-only peer", data: { action: 'autosave#save' } %>
      <div class="w-11 h-6 bg-gray-300 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-gray-100 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[11px] sm:after:top-[9px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-yellow-300"></div>
      <span class="ml-3 text-sm text-gray-400 dark:text-gray-500">Show archived?</span>
    </label>
    <%#= f.select :types, %i[contact_link email_link sms_link telephone_link url_link wifi_link], {}, multiple: true, class: "bg-gray-200 focus:bg-gray-100 dark:bg-gray-800 dark:focus:bg-gray-700 border-transparent focus:border-gray-100 text-gray-800 dark:text-gray-100 block w-full sm:text-sm rounded-md", data: { action: 'autosave#save' }%>
  </div>
<% end %>
