<%= render_component 'card' do %>
  <div class="md:grid md:grid-cols-3 md:gap-6">
    <div class="md:col-span-1">
      <h3 class="text-lg font-medium leading-6 text-gray-800 dark:text-gray-100">Style</h3>
      <p class="mt-1 text-sm text-gray-500 dark:text-gray-400">Customize the look of your link</p>
    </div>
    <div class="md:col-span-2 md:grid-cols-3 md:gap-6">
      <div class="mt-5">
        <%= form.input :style, as: :select, label: 'Choose from an existing style', collection: @styles.map{|t| [t.name, t.id]}, include_blank: true  %>
        <%= turbo_frame_tag Style.new do %>
          <span class="text-sm font-medium text-gray-500 dark:text-gray-300">
            or
            <%= link_to "create a new style", new_style_path, class: "font-medium text-gray-900 dark:text-yellow-400", data: {turbo_frame: "modal"} %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
