<div class="max-w-3xl mx-auto">
  <div class="px-4 sm:px-6 md:flex md:items-center md:justify-between md:space-x-5 lg:max-w-7xl lg:px-8">
    <div class="flex items-center space-x-5">
      <div>
        <h1 class="text-2xl font-bold text-gray-900"><%= link.name %></h1>
        <p class="text-sm font-medium text-gray-500"><%= link.url %></p>
      </div>
    </div>
    <div class="mt-6 flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
      <%= render InlineButtonGroupComponent.new do |c| %>
        <% if can? :update, @link %>
          <% c.with_button(link: edit_link_path(@link), style: 'white').with_content("Edit this link") %>
        <% end %>
        <% if can? :destroy, @link %>
          <% c.with_button(link: link_path(@link), method: :delete, style: 'red').with_content("Delete this link") %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="flex justify-center">
    <% image = qr(scan_link_url(link)).as_png(size: 480) %>
    <%= image_tag "data:image/png;base64,#{Base64.strict_encode64(image.to_s)}", class: "card-img-top" %>
  </div>
</div>
