<div class="bg-white shadow overflow-hidden rounded-lg mb-5">
  <div class="px-4 py-5 sm:px-6 flex flex-row iterms-center">
    <h3 class="text-lg leading-6 font-medium text-gray-900"><%= link.name %></h3>
    <div class="mt-6 ml-auto flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
      <%= render InlineButtonGroupComponent.new do |c| %>
        <% if can? :update, link %>
          <% c.with_button(link: edit_link_path(@link), style: 'white').with_content("Edit this link") %>
        <% end %>
        <% if can? :destroy, link %>
          <% c.with_button(link: confirm_destroy_link_path(@link), style: 'red', data: { turbo_frame: 'modal' }).with_content("Delete this link") %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
    <div class="flex justify-center">
      <%= image_tag link_path(link, format: :svg), size: '500' %>
    </div>
  </div>
</div>
