<div class="mb-5">
  <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-2">
    <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">Total Scans</dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900"><%= @link.events.count %></dd>
    </div>

    <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">Unique Visitors</dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900"><%= @link.events.count %></dd>
    </div>
  </dl>
</div>

