<%= render SectionHeaderComponent.new do |c| %>
  <%= c.with_title do %>
    Statistics
  <% end %>
<% end %>
<div class="mb-5">
  <dl class="mt-5 grid grid-cols-2 gap-5">
    <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">Total Scans</dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900"><%= link.scans.count %></dd>
    </div>
    <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">Last 24 hours</dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900"><%= link.scans.where('created_at > ?', 24.hours.ago).count %></dd>
    </div>
  </dl>
</div>

