<%= form.fields_for :telephone_link, @link.link_data || TelephoneLink.new do |telephone_form| %>
  <div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <h3 class="text-lg font-medium leading-6 text-slate-900">Link target</h3>
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <div class="grid grid-cols-6 gap-6">
          <div class="col-span-12 sm:col-span-5 lg:col-span-3">
            <%= telephone_form.label :number, class: "block text-sm font-medium text-slate-700" %>
            <%= telephone_form.phone_field :number, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-slate-300 rounded-md" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
