<% if notice %>
  <div>
    <%= render AlertComponent.new(status: 'success').with_content(notice) %>
  </div>
<% end %>

<%= render PageComponent.new(title: 'Links') do %>
  <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
    <% @links.each do |link| %>
      <div class="col">
        <%= render LinkCardComponent.new(link: link, can_edit: can?(:update, link), can_delete: can?(:destroy, link)) %>
      </div>
    <% end %>
  </div>

  <% if can? :create, Link %>
    <div class="row">
      <div class="col">
        <% render ButtonComponent.new.with_content("New link") %>
        <%= link_to "New link", new_link_path, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
<% end %>
