<% content_for :title, "Links" %>

<%= render SectionHeaderComponent.new do |c| %>
  <%= c.with_title do %>
    Active links
  <% end %>
  <% if can?(:create, Link) %>
    <%= c.with_button(link: new_link_path).with_content("New link") %>
  <% end %>
<% end %>

<ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
  <% @links.each do |link| %>
    <li class="col-span-1 bg-white rounded-lg shadow divide-y divide-gray-200">
      <%= render LinkCardComponent.new(link: link, can_edit: can?(:update, link), can_delete: can?(:destroy, link)) %>
    </li>
  <% end %>
</ul>
