<% if current_page.last? %>
  <span class="border-t-2 border-transparent pl-1 inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300">
    Next
    <%= show_svg('solid/arrow-narrow-right') %>
  </span>
<% else %>
  <%= link_to url, class: "border-t-2 border-transparent pl-1 inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300" do %>
    Next
    <%= show_svg('solid/arrow-narrow-right') %>
  <% end %>
<% end %>
