<% if current_page.last? %>
  <span class="border-t-2 border-transparent pl-1 inline-flex items-center text-sm font-medium text-gray-500">
    Next
    <%= heroicon 'arrow-long-right', variant: :solid %>
  </span>
<% else %>
  <%= link_to url, class: "border-t-2 border-transparent pl-1 inline-flex items-center text-sm font-medium text-gray-500 hover:text-gray-700 hover:border-gray-300", data: { turbo_action: :advance } do %>
    Next
    <%= heroicon 'arrow-long-right', variant: :solid %>
  <% end %>
<% end %>
