<% unless current_page.last? %>
  <%= link_to url, class: "inline-flex items-center text-sm font-medium text-gray-400 hover:text-gray-500 dark:text-gray-500 dark:hover:text-gray-400", data: { turbo_action: :advance } do %>
    <span class="mr-2">Next</span>
    <%= heroicon 'arrow-long-right', variant: :solid %>
  <% end %>
<% end %>
