<% if page.current? %>
  <span class="text-gray-900 dark:text-yellow-300 px-4 inline-flex items-center text-sm font-medium" aria-current="page"><%= page %></span>
<% else %>
  <%= link_to page, url, class: "border-transparent text-gray-400 hover:text-gray-500 dark:text-gray-500 dark:hover:text-gray-400 border-t-2 px-4 inline-flex items-center text-sm font-medium", data: { turbo_action: :advance } %>
<% end %>
