<% unless current_page.first? %>
  <%= link_to url, class: "inline-flex items-center text-sm font-medium text-gray-400 hover:text-gray-500 dark:text-gray-500 dark:hover:text-gray-400", data: { turbo_action: :advance } do %>
    <%= heroicon 'arrow-long-left', variant: :solid %>
    <span class="ml-2">Previous</span>
  <% end %>
<% end %>
