<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your RoQR trial has ended</h1>
    <p>
      Thanks for trying out <a href="https://roqr.app/">RoQR</a>! Your trial has ended, but all of the QR codes you have created will keep functioning like normal. You need an active subscription to make edits to those codes, to create new QR codes and to view statistics about your scans.
    </p>
    <p>
      <a href="https://roqr.app/users/sign_in">Sign in to your account</a> to choose a plan and keep the show going.
    </p>
  </body>
</html>

