<h2 class="mt-6 text-center text-3xl font-extrabold text-gray-800 dark:text-gray-100">Forgot your password?</h2>
<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "mt-8 space-y-6" }) do |f| %>
  <input type="hidden" name="remember" value="true">
  <%= f.input :email, required: true, autocomplete: 'email', autofocus: true %>

    <%= render ButtonComponent.new(type: :submit, classes: 'w-full') do  %>
      Send me password reset instructions
    <% end %>
<% end %>
