<%= fields model: @link do |form| %>
  <turbo-frame id="pw">
    <div class="flex items-center">
      <%= form.label :password, class: "block text-sm font-medium text-gray-600 dark:text-gray-300" %>
      <%= render TooltipComponent.new do %>
        Adding a password to your link will prompt the scanner for the password before redirecting them to the link target.
      <% end %>
    </div>
    <div class="mt-1">
      <%= form.password_field :password, class: "bg-gray-800 focus:bg-gray-700 border-transparent focus:border-gray-100 text-gray-800 dark:text-gray-100 block w-full sm:text-sm rounded-md" %>
    </div>
  </turbo-frame>
<% end %>
