<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/common_header' %>
  </head>

  <body>
    <header>
      <%= render NavbarComponent.new %>
    </header>
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
		<div class="mt-3">
	      <%= yield %>
		</div>
    </div>
  </body>
</html>
