<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/common_header' %>
  </head>

  <body class="flex flex-col min-h-screen bg-gray-200 dark:bg-gray-800">
    <%= render 'pages/header' %>
    <article>
      <div class="prose prose-stone dark:prose-invert mx-auto py-6 px-4 sm:px-6 lg:px-8">
	<%= yield %>
      </div>
    </article>
    <%= render 'layouts/footer' %>
  </body>
</html>
